.hero-section {
  min-height: 500px;

  .introduction-message {
    position: relative;
    height: 600px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image:
        linear-gradient(rgba(62, 62, 62, 0.5), rgba(62, 62, 62, 0.5)),
        url("../../assets/landing/HeroSection_Image.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: -1;
    }

    & > * {
      position: relative;
      z-index: 1;
      color: #fff;
      max-width: 900px;
      text-align: center;
    }
  }
}

.how-it-works {
  margin-top: -180px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 1.5rem;
  width: 100%;

  .step-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    max-width: 300px;
    box-shadow: 0px 4px 4px 0px #00000040;

    h3 {
      font-size: 1.8rem;
      font-weight: 500;
      color: #2563eb;
    }
  }
}

@media (max-width: 768px) {
  .how-it-works {
    position: static;
    transform: none;
    flex-direction: column;
    align-items: center;
  }
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 4rem 5rem;

  :first-child {
    grid-column: 1 / -1;
    text-align: center;
    color: #2563eb;
    font-weight: 600;
  }

  .feature-card {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    max-width: 300px;
    margin: 0 auto;

    .feature-header {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      h3 {
        font-size: 1rem;
        font-weight: 600;
        color: #1e293b;
      }
    }

    p {
      font-size: 0.875rem;
      color: #64748b;
      line-height: 1.6;
    }
  }
}

/* Features Media Query */

@media (max-width: 1024px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .features {
    grid-template-columns: 1fr;
    padding: 2rem 1.5rem;
    margin-top: 0;
  }
}

.short-message {
  padding: 2.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  background-color: #111827;
  margin-top: 4rem;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../assets/landing/banner.webp");
    background-size: cover;
    background-position: center;
    /* opacity: 0.2; */
    z-index: 0;
  }

  :first-child {
    color: #fff;
    font-weight: normal;
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  button {
    padding: 10px 20px;
    background-color: #2563eb;
    border: none;
    color: #fff;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}
