.guest-navbar {
  padding: var(--navbar-padding);
  background-color: #ffffff;
  box-shadow: var(--navbar-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .button-section {
    display: flex;
    gap: 0.5rem;

    button {
      padding: 8px 18px;
      border-radius: 10px;
      border: 2px solid #3b82f6;
    }

    .btn-login {
      background-color: transparent;
      color: #3b82f6;
    }

    .btn-signup {
      background-color: #3b82f6;
      color: #fff;
    }
  }
}

@media (min-width: 768px) {
  .guest-navbar {
    padding: 1rem 3rem;
  }
}

@media (min-width: 1280px) {
  .guest-navbar {
    padding: 1rem 6rem;
  }
}
