.user-navbar {
  box-shadow: var(--navbar-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;

  .logo-section {
    background-color: #1e293b;
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 0.5rem;
    width: 240px;
    padding-left: 1.5rem;

    :last-child {
      color: #fff;
      font-weight: 600;
    }
  }

  .nav-actions {
    padding: var(--navbar-padding);
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
      cursor: pointer;
      transition: transform 200ms;

      &:hover {
        transform: scale(1.1);
      }
    }

    .user-avatar {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: #2563eb;
      color: #fff;
      border: none;
      font-weight: 600;
      font-size: 1rem;
    }
  }
}
